# Copyright (c) 2021-2025 Arm Limited.
# SPDX-License-Identifier: Apache-2.0

__pycache__/
build*/
debug*build/
conformance*/
.cache
compile_commands.json
dist/
*.egg-info
verif/tests/*.npy
verif/tests/_pytest_vtest_*
.coverage
result.xml
vtest/
examples/*/*/out.npy
py_package/*.so
