# Copyright (c) 2021-2023 Arm Limited.
# SPDX-License-Identifier: Apache-2.0

__pycache__/
build/
debug-build/
/conformance/
conformance_build/
conformance_large_files/
.cache
compile_commands.json
dist/
*.egg-info
verif/tests/test-result-*.tests.tosa_mock_sut_run.npy
verif/tests/_pytest_vtest_*
.coverage
result.xml
vtest/
examples/*/*/out.npy
