# Copyright (c) 2021-2024 Arm Limited.
# SPDX-License-Identifier: Apache-2.0

__pycache__/
build/
dist/
*.egg-info
verif/tests/test-result-*.tests.tosa_mock_sut_run.npy
verif/tests/_pytest_vtest_*
.coverage
result.xml
vtest/
examples/*/*/out.npy
py_package/*.so
